{% extends "management/base_new.html" %}
{% load staticfiles %}
{% block title %}智能控制{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <input type="checkbox" name="my-checkbox" checked>
        </div>
    </div>
</div>



    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-switch.js' %}"></script>


    <script type="text/javascript">

        $('input[name="my-checkbox"]').bootstrapSwitch('state', true);

        $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
          
          // console.log(this); // DOM element
          // console.log(event); // jQuery event
          // console.log(state); // true | false
        
        $.ajax({
                     type:"POST",
                     url:"/control/",
                     data: {
                            'state': state,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                     success: function(){
                         $('#message').html("<h2>Contact Form Submitted!</h2>") 
                        }
                });
        });

    </script>


{% endblock %}