{% extends "management/base_new.html" %}
{% load staticfiles %}
{% block title %}智能控制{% endblock %}

{% block content %}



    <script type="text/javascript" src="{% static 'js/mqttws31.js' %}"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

                <div class="row">
                    
                    <div class="col-sm-8">
                        <form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="form-signin-heading text-center">实时数据测试</h3>


                            {% for k,v in display.items %}

                                {%for id in v%}
                                    <button type="button" class="btn btn-info" id="{{k}}_{{id}}">
                                      {% if k == "temperature" %}
                                        温度{{id}}
                                      {% elif k == "humidity" %}
                                        湿度{{id}}
                                      {% elif k == "lux" %}
                                        光照{{id}}
                                      {% else %}
                                        未知                                     
                                      {% endif %}
                                    </button>    
                                </tr>
                                {% endfor %}
                            {% endfor %}


                             <script type="text/javascript">


                                  {% for k,v in display.items%}
                                    {%for id in v%}
                                    $('#{{k}}_{{id}}').on('click', function (e) {
                                        $("#myModal_{{k}}_{{id}}").modal();
                                        highchart_render('{{k}}',"#container_{{k}}_{{id}}","{{id}}"); 
                                    })
                                    {% endfor %}
                                  {% endfor %}

                             </script>


                            {% for k,v in display.items%}
                              {%for id in v%}
                                  <div class="modal fade" id="myModal_{{k}}_{{id}}" tabindex="-1" role="dialog" 
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                     <div class="modal-dialog">
                                        <div class="modal-content">
                                           <div class="modal-header">
                                              <button type="button" class="close" 
                                                 data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                              </button>
                                              <h4 class="modal-title" id="myModalLabel">

                                                {% if k == "temperature" %}
                                                  温度历史数据
                                                {% elif k == "humidity" %}
                                                  湿度历史数据
                                                {% elif k == "lux" %}
                                                  光照历史数据
                                                {% else %}
                                                  未知历史数据                                     
                                                {% endif %}

                                              </h4>
                                           </div>

                                                 <div class="modal-body">
                                                    <div id="container_{{k}}_{{id}}" style="width: 550px; height: 400px; margin: 0 auto"></div>
                                                 </div>

                                        </div>
                                  </div>
                                  </div>
                              {% endfor %}
                            {% endfor %}


                            <script type="text/javascript">

                                function randomString(len, bits)
                                {
                                    bits = bits || 36;
                                    var outStr = "", newStr;
                                    while (outStr.length < len)
                                    {
                                        newStr = Math.random().toString(bits).slice(2);
                                        outStr += newStr.slice(0, Math.min(newStr.length, (len - outStr.length)));
                                    }
                                    return outStr.toUpperCase();
                                }


                                function highchart_render(data_type,container_id,sensor_id) {


                                            if(data_type == 'lux')
                                            {
                                            var title = {
                                                   text: sensor_id+'光照历史数据'   
                                               };
                                               
                                               var yAxis = {
                                                  title: {
                                                     text: '光照单位'
                                                  },
                                                  plotLines: [{
                                                     value: 0,
                                                     width: 1,
                                                     color: '#808080'
                                                  }]
                                               };   

                                               var tooltip = {
                                                  valueSuffix: '\xB0C'
                                               }

                                               var legend = {
                                                  layout: 'vertical',
                                                  align: 'right',
                                                  verticalAlign: 'middle',
                                                  borderWidth: 0
                                               };

                                               var series = [];
                                               var categories = [];    


                                               var light = [];
                                               var light_low = [];
                                               var light_high = [];

                                               //for the old table
                                               // {% for item in latest_data %}

                                               //      light.push({{item.light}});
                                               //      light_low.push({{item.light_low}});
                                               //      light_high.push({{item.light_high}});                     
                                               //      date = String("{{item.record_date}}");
                                               //      categories.push(date);                                                                
                                               // {% endfor %}


                                               {% for item in light_data %}

                                                    if('{{item.sensor_id}}'==sensor_id)
                                                  {
                                                    light.push({{item.light}});
                                                    light_low.push({{item.light_low}});
                                                    light_high.push({{item.light_high}});                     
                                                    date = String("{{item.record_date}}");
                                                    categories.push(date);
                                                  }

                                                                
                                               {% endfor %}


                                               var xAxis = {
                                                    categories: categories
                                                   };

                                               var series =  [
                                                  {
                                                     name: '平均光照',
                                                     data: light
                                                  }, 
                                                  {
                                                     name: '最高光照',
                                                     data: light_high
                                                  }, 
                                                  {
                                                     name: '最低光照',
                                                     data: light_low
                                                  }
                                               ];



                                               var json = {};
                                               json.title = title;
                                               json.xAxis = xAxis;
                                               json.yAxis = yAxis;
                                               json.tooltip = tooltip;
                                               json.legend = legend;
                                               json.series = series;      
                                               $(container_id).highcharts(json);                                                      
                                            }



                                            else if(data_type == 'humidity')
                                            {
                                            var title = {
                                                   text: sensor_id+'湿度历史数据'   
                                               };
                                               
                                               var yAxis = {
                                                  title: {
                                                     text: '湿度单位'
                                                  },
                                                  plotLines: [{
                                                     value: 0,
                                                     width: 1,
                                                     color: '#808080'
                                                  }]
                                               };   

                                               var tooltip = {
                                                  valueSuffix: '\xB0C'
                                               }

                                               var legend = {
                                                  layout: 'vertical',
                                                  align: 'right',
                                                  verticalAlign: 'middle',
                                                  borderWidth: 0
                                               };

                                               var series = [];
                                               var categories = [];    


                                               var humidity = [];
                                               var humidity_low = [];
                                               var humidity_high = [];
                                               
                                               //for the old table
                                               // {% for item in latest_data %}

                                               //      humidity.push({{item.humidity}});
                                               //      humidity_low.push({{item.humidity_low}});
                                               //      humidity_high.push({{item.humidity_high}});                     
                                               //      date = String("{{item.record_date}}");
                                               //      categories.push(date);                                                                
                                               // {% endfor %}


                                               {% for item in humidity_data %}

                                                    if('{{item.sensor_id}}'==sensor_id)
                                                  {
                                                    humidity.push({{item.humidity}});
                                                    humidity_low.push({{item.humidity_low}});
                                                    humidity_high.push({{item.humidity_high}});                     
                                                    date = String("{{item.record_date}}");
                                                    categories.push(date);
                                                  }

                                                                
                                               {% endfor %}



                                               var xAxis = {
                                                    categories: categories
                                                   };

                                               var series =  [
                                                  {
                                                     name: '平均湿度',
                                                     data: humidity
                                                  }, 
                                                  {
                                                     name: '最高湿度',
                                                     data: humidity_high
                                                  }, 
                                                  {
                                                     name: '最低湿度',
                                                     data: humidity_low
                                                  }
                                               ];



                                               var json = {};
                                               json.title = title;
                                               json.xAxis = xAxis;
                                               json.yAxis = yAxis;
                                               json.tooltip = tooltip;
                                               json.legend = legend;
                                               json.series = series;      
                                               $(container_id).highcharts(json);                                                      
                                            }





                                            else if(data_type == 'temperature')
                                            {
                                            var title = {
                                                   text: sensor_id+'温度历史数据'   
                                               };
                                               
                                               var yAxis = {
                                                  title: {
                                                     text: '温度单位'
                                                  },
                                                  plotLines: [{
                                                     value: 0,
                                                     width: 1,
                                                     color: '#808080'
                                                  }]
                                               };   

                                               var tooltip = {
                                                  valueSuffix: '\xB0C'
                                               }

                                               var legend = {
                                                  layout: 'vertical',
                                                  align: 'right',
                                                  verticalAlign: 'middle',
                                                  borderWidth: 0
                                               };

                                               var series = [];
                                               var categories = [];    


                                               var temperature = [];
                                               var temperature_low = [];
                                               var temperature_high = [];

                                               //for the old table
                                               
                                               // {% for item in latest_data %}

                                               //      temperature.push({{item.temperature}});
                                               //      temperature_low.push({{item.temperature_low}});
                                               //      temperature_high.push({{item.temperature_high}});       
                                               //      date = String("{{item.record_date}}");
                                               //      categories.push(date);                                                                
                                               // {% endfor %}


                                               {% for item in temperature_data %}

                                                    if('{{item.sensor_id}}'==sensor_id)
                                                  {
                                                    temperature.push({{item.temperature}});
                                                    temperature_low.push({{item.temperature_low}});
                                                    temperature_high.push({{item.temperature_high}});       
                                                    date = String("{{item.record_date}}");
                                                    categories.push(date);
                                                  }

                                                                
                                               {% endfor %}


                                               var xAxis = {
                                                    categories: categories
                                                   };

                                               var series =  [
                                                  {
                                                     name: '平均温度',
                                                     data: temperature
                                                  }, 
                                                  {
                                                     name: '最高温度',
                                                     data: temperature_high
                                                  }, 
                                                  {
                                                     name: '最低温度',
                                                     data: temperature_low
                                                  }
                                               ];



                                               var json = {};
                                               json.title = title;
                                               json.xAxis = xAxis;
                                               json.yAxis = yAxis;
                                               json.tooltip = tooltip;
                                               json.legend = legend;
                                               json.series = series;
                                               $(container_id).highcharts(json);                                                      
                                            }

                                }




                            </script>

                            <script>
                              var clientId = randomString(20, 26);

                              var client = new Paho.MQTT.Client("10.75.6.80", 10001, clientId);

                              client.onMessageArrived = function (msg) {

                                var item;
                                
                                if(msg.destinationName.split("/")[0]=='temperature')
                                {
                                    item=msg.destinationName.split("/")[1]+"温度";
                                }
                                else if(msg.destinationName.split("/")[0]=="humidity")
                                {
                                    item=msg.destinationName.split("/")[1]+"湿度";
                                }
                                else
                                {
                                    item=msg.destinationName.split("/")[1]+"光照"
                                }

                                {% for k,v in display.items %}
                                    {% for id in v %}
                                        if(msg.destinationName=='{{k}}/{{id}}')
                                        {
                                            $("#{{k}}_{{id}}").text(item+" "+msg.payloadString);

                                        }
                                    {% endfor %}
                                {% endfor %}

                              };

                              client.connect({
                                onSuccess: function () {

                                {% for k,v in display.items %}
                                    client.subscribe("{{k}}/#");
                                {% endfor %}

                                }
                              });
                            </script>

                        </form>
                    </div>
                    
                    
                
                </div>



            </div>
        </div>
    </div>





{% endblock %}