{% extends "management/base_new.html" %}
{% load staticfiles %}
{% block title %}智能控制{% endblock %}

{% block content %}



    <script type="text/javascript" src="{% static 'js/mqttws31.js' %}"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

                <div class="row">
                    
                    <div class="col-sm-8">
                        <form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="form-signin-heading text-center">实时数据测试</h3>


                            {% for k,v in display.items %}

                                {%for id in v%}
                                    <button type="button" class="btn btn-info" id="{{k}}_{{id}}">
                                      {% if k == "temperature" %}
                                        温度{{id}}
                                      {% elif k == "humidity" %}
                                        湿度{{id}}
                                      {% elif k == "lux" %}
                                        光照{{id}}
                                      {% else %}
                                        未知                                     
                                      {% endif %}
                                    </button>    
                                </tr>
                                {% endfor %}
                            {% endfor %}


                             <script type="text/javascript">


                                  {% for k,v in display.items%}
                                    {%for id in v%}
                                    $('#{{k}}_{{id}}').on('click', function (e) {
                                        console.log("{{id}}")
                                        $("#myModal_{{k}}_{{id}}").modal(); 
                                    })
                                    {% endfor %}
                                  {% endfor %}

                             </script>


                            {% for k,v in display.items%}
                              {%for id in v%}
                                  <div class="modal fade" id="myModal_{{k}}_{{id}}" tabindex="-1" role="dialog" 
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                     <div class="modal-dialog">
                                        <div class="modal-content">
                                           <div class="modal-header">
                                              <button type="button" class="close" 
                                                 data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                              </button>
                                              <h4 class="modal-title" id="myModalLabel">

                                                {% if k == "temperature" %}
                                                  温度历史数据
                                                {% elif k == "humidity" %}
                                                  湿度历史数据
                                                {% elif k == "lux" %}
                                                  光照历史数据
                                                {% else %}
                                                  未知历史数据                                     
                                                {% endif %}

                                              </h4>
                                           </div>


                                          {% if k == "temperature" %}
                                                 <div class="modal-body">
                                                        <table class="highchart {{k}} {{id}}" data-graph-container-before="1" data-graph-type="line" style="display:none">
                                                            <caption>温度历史数据</caption>
                                                            <thead>
                                                                <tr>                                  
                                                                    <th>时间</th>
                                                                    <th>平均温度</th>
                                                                    <th>最高温度</th> 
                                                                    <th>最低温度</th>                                                        
                                                                </tr>
                                                             </thead>
                                                             <tbody>

                                                                {% for item in latest_data %}
                                                                    <tr>
                                                                        <td>{{item.record_date}}</td>
                                                                        <td>{{item.temperature}}</td>
                                                                        <td>{{item.temperature_high}}</td>
                                                                        <td>{{item.temperature_low}}</td>
                                                                    </tr>

                                                                {% endfor %}
                                                            
                                                            </tbody>
                                                        </table>
                                                 </div>                                                  
                                          {% elif k == "humidity" %}
                                                 <div class="modal-body">
                                                        <table class="highchart {{k}} {{id}}" data-graph-container-before="1" data-graph-type="line" style="display:none">
                                                            <caption>湿度历史数据</caption>
                                                            <thead>
                                                                <tr>                                  
                                                                    <th>时间</th>
                                                                    <th>平均湿度</th>
                                                                    <th>最高湿度</th>
                                                                    <th>最低湿度</th>
                                                                </tr>
                                                             </thead>
                                                             <tbody>

                                                                {% for item in latest_data %}
                                                                    <tr>
                                                                        <td>{{item.record_date}}</td>
                                                                        <td>{{item.humidity}}</td>
                                                                        <td>{{item.humidity_high}}</td>
                                                                        <td>{{item.humidity_low}}</td>
                                                                    </tr>

                                                                {% endfor %}
                                                            
                                                            </tbody>
                                                        </table>
                                                 </div>


                                            
                                          {% elif k == "lux" %}
                                                 <div class="modal-body">
                                                        <table class="highchart {{k}} {{id}}" data-graph-container-before="1" data-graph-type="line" style="display:none">
                                                            <caption>光照历史数据</caption>
                                                            
                                                            <thead>
                                                                <tr>                                  
                                                                    <th>时间</th>
                                                                    <th>平均光照</th>
                                                                    <th>最高光照</th>
                                                                    <th>最低光照</th>
                                                                </tr>
                                                             </thead>
                                                             <tbody>

                                                                {% for item in latest_data %}
                                                                    <tr>
                                                                        <td>{{item.record_date}}</td>
                                                                        <td>{{item.light}}</td>
                                                                        <td>{{item.light_high}}</td>
                                                                        <td>{{item.light_low}}</td>
                                                                    </tr>

                                                                {% endfor %}
                                                            
                                                            </tbody>
                                                        </table>
                                                 </div>
                                          {% else %}
                                                  未知历史数据                                     
                                          {% endif %}

                                           <div class="modal-footer">
                                              <button type="button" class="btn btn-default" 
                                                 data-dismiss="modal">关闭
                                              </button>
                                              <button type="button" class="btn btn-primary" id="tijiao_{{k}}_{{id}}" >
                                                 历史数据
                                              </button>
                                           </div>


                                        </div>
                                  </div>
                                  </div>
                              {% endfor %}
                            {% endfor %}


                            <script type="text/javascript">

                                {% for k,v in display.items %}
                                    {% for id in v %}
                                      var {{k}}_{{id}}_count =1;
                                    {% endfor %}
                                {% endfor %}

                                {% for k,v in display.items %}
                                    {% for id in v %}

                                        $('#tijiao_{{k}}_{{id}}').on('click', function (e) {
                                        if({{k}}_{{id}}_count==1)
                                        {
                                            $('table.highchart.{{k}}.{{id}}').highchartTable();
                                            {{k}}_{{id}}_count++;                                            
                                        }

                                        })

                                    {% endfor %}
                                {% endfor %}

                            </script>


                            <script type="text/javascript">

                                function randomString(len, bits)
                                {
                                    bits = bits || 36;
                                    var outStr = "", newStr;
                                    while (outStr.length < len)
                                    {
                                        newStr = Math.random().toString(bits).slice(2);
                                        outStr += newStr.slice(0, Math.min(newStr.length, (len - outStr.length)));
                                    }
                                    return outStr.toUpperCase();
                                }

                            </script>

                            <script>
                              var clientId = randomString(20, 26);

                              var client = new Paho.MQTT.Client("10.75.6.80", 10001, clientId);

                              client.onMessageArrived = function (msg) {

                                var item;
                                
                                if(msg.destinationName.split("/")[0]=='temperature')
                                {
                                    item=msg.destinationName.split("/")[1]+"温度";
                                }
                                else if(msg.destinationName.split("/")[0]=="humidity")
                                {
                                    item=msg.destinationName.split("/")[1]+"湿度";
                                }
                                else
                                {
                                    item=msg.destinationName.split("/")[1]+"光照";
                                }

                                {% for k,v in display.items %}
                                    {% for id in v %}
                                        if(msg.destinationName=='{{k}}/{{id}}')
                                        {
                                            $("#{{k}}_{{id}}").text(item+" "+msg.payloadString);

                                        }
                                    {% endfor %}
                                {% endfor %}

                              };

                              client.connect({
                                onSuccess: function () {

                                {% for k,v in display.items %}
                                    client.subscribe("{{k}}/#");
                                {% endfor %}

                                }
                              });
                            </script>

                        </form>
                    </div>
                    
                    
                
                </div>



            </div>
        </div>
    </div>





{% endblock %}