{% extends "management/base_new.html" %}
{% block title %}实时数据测试{% endblock %}

{% block content %}



<script type="text/javascript">
    $(document).ready(function(){

        //setInterval("startrequest()",1000); 
      
        }); 
</script>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

                <div class="row">
                    
                    <div class="col-sm-8">
                        <form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="form-signin-heading text-center">实时数据测试</h3>



                            <button type="button" class="btn btn-info" id="temperature">温度</button>
                            <button type="button" class="btn btn-info" id="humidity">湿度</button>
                            <button type="button" class="btn btn-info" id="lux">光照</button>



                             <script type="text/javascript">

                                $('#temperature').on('click', function (e) {
                                    $("#myModal_temperature").modal(); 
                                    test('temperature');
                                })


                                $('#humidity').on('click', function (e) {
                                    $("#myModal_humidity").modal(); 
                                    test('humidity');
                                })

                                $('#lux').on('click', function (e) {
                                    $("#myModal_lux").modal(); 
                                    test('lux');
                                })

                             </script>


                            <div class="modal fade" id="myModal_temperature" tabindex="-1" role="dialog" 
                               aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                        <button type="button" class="close" 
                                           data-dismiss="modal" aria-hidden="true">
                                              &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                           温度历史数据
                                        </h4>
                                     </div>

                                          <div id="container_temperature" style="width: 550px; height: 400px; margin: 0 auto"></div>                                     

                                  </div>
                            </div>
                            </div>

                            <div class="modal fade" id="myModal_humidity" tabindex="-1" role="dialog" 
                               aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                        <button type="button" class="close" 
                                           data-dismiss="modal" aria-hidden="true">
                                              &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                           湿度历史数据
                                        </h4>
                                     </div>
                                     <div class="modal-body">
                                          <div id="container_humidity" style="width: 550px; height: 400px; margin: 0 auto"></div>
                                     </div>

                                  </div>
                            </div>
                            </div>



                            <div class="modal fade" id="myModal_lux" tabindex="-1" role="dialog" 
                               aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                        <button type="button" class="close" 
                                           data-dismiss="modal" aria-hidden="true">
                                              &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                           光照历史数据
                                        </h4>
                                     </div>
                                     <div class="modal-body">
                                          <div id="container_lux" style="width: 550px; height: 400px; margin: 0 auto"></div>
                                     </div>

                                  </div>
                            </div>
                            </div>



                            <script type="text/javascript">



                                // $('#fire').on('click', function (e) {
                                //      // $.get('/json_test/', function(data){
                                //      //        alert(data);
                                //      //       });
                                //     $.getJSON('/json_test', function(data) {
                                //         $.each(data, function(index, element) {
                                //                 console.log(index+" : "+ element);   
                                //                 $("#"+index).text(element);                                                
                                //         });
                                //     });
                                // })


                                function sleep(milliseconds) {
                                  var start = new Date().getTime();
                                  for (var i = 0; i < 1e7; i++) {
                                    if ((new Date().getTime() - start) > milliseconds){
                                      break;
                                    }
                                  }
                                }


                                function startrequest() {
                                    $.getJSON('/json_test', function(data) {
                                        $.each(data, function(index, element) {
                                                //console.log(index+" : "+ element);
                                                var item;
                                                if(index=='temperature')
                                                {
                                                    item="温度"
                                                }
                                                else if(index=="humidity")
                                                {
                                                    item="湿度"
                                                }
                                                else
                                                {
                                                    item="光照"
                                                }

                                                $("#"+index).text(item+" "+element);                                                
                                        });
                                    });
                                }

                                function test(data_type) {


                                            if(data_type == 'lux')
                                            {
                                            var title = {
                                                   text: '光照历史数据'   
                                               };
                                               
                                               var yAxis = {
                                                  title: {
                                                     text: '光照单位'
                                                  },
                                                  plotLines: [{
                                                     value: 0,
                                                     width: 1,
                                                     color: '#808080'
                                                  }]
                                               };   

                                               var tooltip = {
                                                  valueSuffix: '\xB0C'
                                               }

                                               var legend = {
                                                  layout: 'vertical',
                                                  align: 'right',
                                                  verticalAlign: 'middle',
                                                  borderWidth: 0
                                               };

                                               var series = [];
                                               var categories = [];    


                                               var light = [];
                                               var light_low = [];
                                               var light_high = [];

                                               {% for item in latest_data %}

                                                    light.push({{item.light}});
                                                    light_low.push({{item.light_low}});
                                                    light_high.push({{item.light_high}});                     
                                                    date = String("{{item.record_date}}");
                                                    categories.push(date);                                                                
                                               {% endfor %}


                                               var xAxis = {
                                                    categories: categories
                                                   };

                                               var series =  [
                                                  {
                                                     name: '平均光照',
                                                     data: light
                                                  }, 
                                                  {
                                                     name: '最高光照',
                                                     data: light_high
                                                  }, 
                                                  {
                                                     name: '最低光照',
                                                     data: light_low
                                                  }
                                               ];



                                               var json = {};
                                               json.title = title;
                                               json.xAxis = xAxis;
                                               json.yAxis = yAxis;
                                               json.tooltip = tooltip;
                                               json.legend = legend;
                                               json.series = series;      
                                               $('#container_lux').highcharts(json);                                                      
                                            }



                                            else if(data_type == 'humidity')
                                            {
                                            var title = {
                                                   text: '湿度历史数据'   
                                               };
                                               
                                               var yAxis = {
                                                  title: {
                                                     text: '湿度单位'
                                                  },
                                                  plotLines: [{
                                                     value: 0,
                                                     width: 1,
                                                     color: '#808080'
                                                  }]
                                               };   

                                               var tooltip = {
                                                  valueSuffix: '\xB0C'
                                               }

                                               var legend = {
                                                  layout: 'vertical',
                                                  align: 'right',
                                                  verticalAlign: 'middle',
                                                  borderWidth: 0
                                               };

                                               var series = [];
                                               var categories = [];    


                                               var humidity = [];
                                               var humidity_low = [];
                                               var humidity_high = [];

                                               {% for item in latest_data %}

                                                    humidity.push({{item.humidity}});
                                                    humidity_low.push({{item.humidity_low}});
                                                    humidity_high.push({{item.humidity_high}});                     
                                                    date = String("{{item.record_date}}");
                                                    categories.push(date);                                                                
                                               {% endfor %}


                                               var xAxis = {
                                                    categories: categories
                                                   };

                                               var series =  [
                                                  {
                                                     name: '平均湿度',
                                                     data: humidity
                                                  }, 
                                                  {
                                                     name: '最高湿度',
                                                     data: humidity_high
                                                  }, 
                                                  {
                                                     name: '最低湿度',
                                                     data: humidity_low
                                                  }
                                               ];



                                               var json = {};
                                               json.title = title;
                                               json.xAxis = xAxis;
                                               json.yAxis = yAxis;
                                               json.tooltip = tooltip;
                                               json.legend = legend;
                                               json.series = series;      
                                               $('#container_humidity').highcharts(json);                                                      
                                            }





                                            else if(data_type == 'temperature')
                                            {
                                            var title = {
                                                   text: '温度历史数据'   
                                               };
                                               
                                               var yAxis = {
                                                  title: {
                                                     text: '温度单位'
                                                  },
                                                  plotLines: [{
                                                     value: 0,
                                                     width: 1,
                                                     color: '#808080'
                                                  }]
                                               };   

                                               var tooltip = {
                                                  valueSuffix: '\xB0C'
                                               }

                                               var legend = {
                                                  layout: 'vertical',
                                                  align: 'right',
                                                  verticalAlign: 'middle',
                                                  borderWidth: 0
                                               };

                                               var series = [];
                                               var categories = [];    


                                               var humidity = [];
                                               var humidity_low = [];
                                               var humidity_high = [];

                                               {% for item in latest_data %}

                                                    humidity.push({{item.temperature}});
                                                    humidity_low.push({{item.temperature_low}});
                                                    humidity_high.push({{item.temperature_high}});                     
                                                    date = String("{{item.record_date}}");
                                                    categories.push(date);                                                                
                                               {% endfor %}


                                               var xAxis = {
                                                    categories: categories
                                                   };

                                               var series =  [
                                                  {
                                                     name: '平均温度',
                                                     data: humidity
                                                  }, 
                                                  {
                                                     name: '最高温度',
                                                     data: humidity_high
                                                  }, 
                                                  {
                                                     name: '最低温度',
                                                     data: humidity_low
                                                  }
                                               ];



                                               var json = {};
                                               json.title = title;
                                               json.xAxis = xAxis;
                                               json.yAxis = yAxis;
                                               json.tooltip = tooltip;
                                               json.legend = legend;
                                               json.series = series;      
                                               $('#container_temperature').highcharts(json);                                                      
                                            }








                                }





                            </script>



                        </form>
                    </div>
                    
                    
                
                </div>



            </div>
        </div>
    </div>


{% endblock %}