{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}查看实时视频{% endblock %}

{% block content %}










    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-2">
                    <div class="list-group">
                        
<!-- 

                        <a href="{% url 'view_book_list' %}" class="list-group-item" id="id_category_all">
                            全部视频
                        </a>
                        {% for category in category_list %}
                            <a href="{% url 'view_book_list' %}?category={{ category }}" class="list-group-item"
                               id="id_category_{{ category }}">
                                {{ category }}
                            </a>
                        {% endfor %}

 -->

                    </div>
                    <script type="text/javascript">
                        $('#id_category_{{ query_category }}').addClass("active");
                    </script>
                </div>
                <div class="col-md-9 col-md-offset-1" id="a1">  
                </div>
                <script type="text/javascript">
                 var flashvars={
                    
                    //f:'ftp://10.140.29.24/xxx/demov2.mp4',
                    f:'rtmp://live.hkstv.hk.lxdns.com/live/hks',
                    c:0,
                    loaded:'loadedHandler'
                };

                var video=['http://movie.ks.js.cn/flv/other/1_0.mp4->video/mp4'];
                CKobject.embed('/static/ckplayer/ckplayer.swf','a1','ckplayer_a1','600','400',false,flashvars,video);
                </script>

            </div>
        </div>
    </div>







{% endblock %}
